@charset "UTF-8";
/*ОБНУЛЕНИЕ СТИЛЕЙ*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, taxtarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*----------------------------------*/
@font-face {
  font-family: "Filson Pro";
  src: local("Filson Pro Regular"), local("Filson-Pro-Regular"), url("../fonts/FilsonPro-Regular.woff2") format("woff2"), url("../fonts/FilsonPro-Regular.woff") format("woff"), url("../fonts/FilsonPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Filson Pro";
  src: local("Filson Pro Bold"), local("Filson-Pro-Bold"), url("../fonts/FilsonPro-Bold.woff2") format("woff2"), url("../fonts/FilsonPro-Bold.woff") format("woff"), url("../fonts/FilsonPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Filson Pro Book";
  src: local("Filson Pro Book"), local("Filson-Pro-Book"), url("../fonts/FilsonPro-Book.woff2") format("woff2"), url("../fonts/FilsonPro-Book.woff") format("woff"), url("../fonts/FilsonPro-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Filson Pro";
  src: local("Filson Pro Light"), local("Filson-Pro-Light"), url("../fonts/FilsonPro-Light.woff2") format("woff2"), url("../fonts/FilsonPro-Light.woff") format("woff"), url("../fonts/FilsonPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Filson Pro";
  src: local("Filson Pro Regular"), local("Filson-Pro-Regular"), url("../fonts/FilsonPro-Regular.woff2") format("woff2"), url("../fonts/FilsonPro-Regular.woff") format("woff"), url("../fonts/FilsonPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Filson Pro";
  src: local("Filson Pro Bold"), local("Filson-Pro-Bold"), url("../fonts/FilsonPro-Bold.woff2") format("woff2"), url("../fonts/FilsonPro-Bold.woff") format("woff"), url("../fonts/FilsonPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Filson Pro Book";
  src: local("Filson Pro Book"), local("Filson-Pro-Book"), url("../fonts/FilsonPro-Book.woff2") format("woff2"), url("../fonts/FilsonPro-Book.woff") format("woff"), url("../fonts/FilsonPro-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Filson Pro";
  src: local("Filson Pro Light"), local("Filson-Pro-Light"), url("../fonts/FilsonPro-Light.woff2") format("woff2"), url("../fonts/FilsonPro-Light.woff") format("woff"), url("../fonts/FilsonPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
[class*=__container] {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  color: #fff;
  font-family: Filson Pro;
  font-weight: 400;
}

a, button, .checkbox-card, .select__header, .catalog-select__title {
  -webkit-tap-highlight-color: transparent;
}

.header__container {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 480px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
.header__container .prod-price::after {
  display: none;
}
@media (min-width: 991.98px) {
  .header__container .prod-price {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .header {
    margin-bottom: calc(20px + -20 * (100vw - 320px) / 447.98);
  }
}

.main {
  position: relative;
}
.main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #101F36;
  z-index: -1;
}
.main__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.main__modal {
  margin: 80px 0;
}
@media (max-width: 1200px) {
  .main__modal {
    margin-top: calc(20px + 60 * (100vw - 320px) / 880);
    margin-bottom: calc(20px + 60 * (100vw - 320px) / 880);
  }
}

.modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__box {
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 28px;
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-box-shadow: 5px 4px 75px #101F36;
          box-shadow: 5px 4px 75px #101F36;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .modal__box {
    padding-top: calc(24px + 12 * (100vw - 320px) / 880);
    padding-bottom: calc(24px + 12 * (100vw - 320px) / 880);
    padding-left: calc(16px + 12 * (100vw - 320px) / 880);
    padding-right: calc(16px + 12 * (100vw - 320px) / 880);
  }
}
.modal__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  .modal__title {
    font-size: calc(26px + 10 * (100vw - 320px) / 880);
  }
}
.modal__title .gradient {
  background: linear-gradient(90.05deg, #F17981 0.03%, #CA4BA8 44.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.modal__paragraph {
  margin: 20px 0;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  .modal__paragraph {
    font-size: calc(18px + 5 * (100vw - 320px) / 880);
  }
}
.modal__buttons {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}
@media (max-width: 1200px) {
  .modal__buttons {
    gap: calc(12px + 20 * (100vw - 320px) / 880);
  }
}
.modal__button {
  height: 50px;
  padding: 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 52.5px;
  background-color: transparent;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  overflow: hidden;
  position: relative;
  -webkit-transition: border ease-in-out 0.3s;
  transition: border ease-in-out 0.3s;
  z-index: 5;
}
.modal__button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#F17981), color-stop(100.14%, #CA4BA8));
  background: linear-gradient(90deg, #F17981 0%, #CA4BA8 100.14%);
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
  z-index: -1;
}
.modal__button:hover {
  border: 1px solid transparent;
}
.modal__button:hover::before {
  opacity: 1;
}

.main__thanks {
  margin: 80px 0;
}
@media (max-width: 1200px) {
  .main__thanks {
    margin-top: calc(20px + 60 * (100vw - 320px) / 880);
    margin-bottom: calc(20px + 60 * (100vw - 320px) / 880);
  }
}

.thanks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}
@media (max-width: 1200px) {
  .thanks__container {
    gap: calc(40px + 60 * (100vw - 320px) / 880);
  }
}
.thanks__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.thanks__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 767.98px) {
  .thanks__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 1200px) {
  .thanks__body {
    gap: calc(30px + 30 * (100vw - 320px) / 880);
  }
}
@media (max-width: 767.98px) {
  .thanks__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.thanks__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 14px;
}
.thanks__title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  background: linear-gradient(90.05deg, #F17981 0.03%, #CA4BA8 44.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.article__title {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 147%;
  background: linear-gradient(90.05deg, #F17981 0.03%, #CA4BA8 44.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 1200px) {
  .article__title {
    font-size: calc(26px + 8 * (100vw - 320px) / 880);
  }
}
.article__paragraph {
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  .article__paragraph {
    font-size: calc(18px + 5 * (100vw - 320px) / 880);
  }
}

.card-box {
  background: rgba(255, 255, 255, 0.04);
  width: 100%;
  -webkit-box-shadow: 5px 4px 75px #101F36;
          box-shadow: 5px 4px 75px #101F36;
  border-radius: 20px;
  z-index: 40;
}
.card-box__part {
  padding: 30px 32px;
}
@media (max-width: 1200px) {
  .card-box__part {
    padding-top: calc(22px + 8 * (100vw - 320px) / 880);
    padding-bottom: calc(22px + 8 * (100vw - 320px) / 880);
    padding-left: calc(18px + 14 * (100vw - 320px) / 880);
    padding-right: calc(18px + 14 * (100vw - 320px) / 880);
  }
}
.card-box__wrapper {
  padding: 30px 32px;
}
@media (max-width: 1200px) {
  .card-box__wrapper {
    padding-top: calc(22px + 8 * (100vw - 320px) / 880);
    padding-bottom: calc(22px + 8 * (100vw - 320px) / 880);
    padding-left: calc(18px + 14 * (100vw - 320px) / 880);
    padding-right: calc(18px + 14 * (100vw - 320px) / 880);
  }
}

.prod-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-bottom: 26px;
  z-index: 999;
}
.prod-list__label {
  margin-right: auto;
}
.prod-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  z-index: 100;
  font-weight: 400;
  font-size: 17px;
  line-height: 176%;
  position: relative;
}
@media (max-width: 1200px) {
  .prod-list__row {
    font-size: calc(15px + 2 * (100vw - 320px) / 880);
  }
}
.prod-list__price {
  white-space: nowrap;
  margin-left: 50px;
}
.prod-list__popup {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 32px 26px;
  border-radius: 20px;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}
@media (max-width: 1200px) {
  .prod-list__popup {
    padding-left: calc(14px + 12 * (100vw - 320px) / 880);
    padding-right: calc(14px + 12 * (100vw - 320px) / 880);
    padding-top: calc(26px + 6 * (100vw - 320px) / 880);
    padding-bottom: calc(26px + 6 * (100vw - 320px) / 880);
  }
}

.prod-list__popup._open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.prod-list__row.parent-active {
  z-index: 400;
}

.animate-row {
  -webkit-animation: show ease 0.3s;
          animation: show ease 0.3s;
}

.hide-row {
  -webkit-animation: hide linear 0.3s;
          animation: hide linear 0.3s;
}

@-webkit-keyframes show {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes show {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes hide {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes hide {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.prod-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  position: relative;
}
.prod-price::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#CA4BA8), color-stop(101.96%, #F17981));
  background: linear-gradient(90deg, #CA4BA8 0%, #F17981 101.96%);
}
.prod-price__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  background: -webkit-gradient(linear, left top, right top, from(#F17981), color-stop(40.24%, #CA4BA8));
  background: linear-gradient(90deg, #F17981 0%, #CA4BA8 40.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.prod-price__price {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
}

.contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media (min-width: 767.98px) {
  .contact {
    position: sticky;
    top: 20px;
  }
}
.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.contact__row {
  font-weight: 400;
  font-size: 17px;
  line-height: 176%;
}
@media (max-width: 1200px) {
  .contact__row {
    font-size: calc(15px + 2 * (100vw - 320px) / 880);
  }
}
.contact__title {
  font-family: Filson Pro Book;
  color: rgba(255, 255, 255, 0.5);
}

.prod-bill {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - (20px + 40 * (100vw - 320px) / 880));
          flex: 0 0 calc(50% - (20px + 40 * (100vw - 320px) / 880));
}
@media (min-width: 767.98px) {
  .prod-bill {
    position: sticky;
    top: 20px;
  }
}
.prod-bill__button {
  height: 44px;
  border-radius: 40px;
  overflow: hidden;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  margin-top: 38px;
  font-weight: 700;
  font-size: 17px;
  line-height: 176%;
  color: #FFFFFF;
  position: relative;
}
@media (max-width: 1200px) {
  .prod-bill__button {
    font-size: calc(15px + 2 * (100vw - 320px) / 880);
  }
}
.prod-bill__button::before {
  content: "";
  position: absolute;
  top: -425%;
  left: 0;
  width: 100%;
  height: 900%;
  background: -webkit-gradient(linear, left top, right top, from(#F17981), to(#CA4BA8));
  background: linear-gradient(90deg, #F17981 0%, #CA4BA8 100%);
  z-index: -1;
  -webkit-transition: -webkit-transform ease-in-out 0.3s;
  transition: -webkit-transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}
.prod-bill__button:hover::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.return {
  margin: 30px 0;
}
@media (max-width: 1200px) {
  .return {
    margin-top: calc(20px + 10 * (100vw - 320px) / 880);
  }
}
.return__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.return__icon {
  max-width: 16px;
  max-height: 16px;
}
.return__text {
  font-family: "Filson Pro Book";
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  .return__text {
    font-size: calc(18px + 2 * (100vw - 320px) / 880);
  }
}

.main__catalog {
  margin: 30px 0;
}
@media (max-width: 1200px) {
  .main__catalog {
    margin-top: calc(0px + 30 * (100vw - 320px) / 880);
  }
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 88px;
}
@media (max-width: 1200px) {
  .catalog__container {
    gap: calc(20px + 68 * (100vw - 991.98px) / 208.02);
  }
}
@media (max-width: 991.98px) {
  .catalog__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.catalog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 50px;
}
.catalog__aside {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 415px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .catalog__aside {
    max-width: 100%;
  }
}
@media (min-width: 991.98px) {
  .catalog .prod-bill {
    position: sticky;
    top: 20px;
  }
}
.catalog .prod-bill .prod-list, .catalog .prod-bill .prod-price {
  padding: 30px 32px;
}
@media (max-width: 1200px) {
  .catalog .prod-bill .prod-list, .catalog .prod-bill .prod-price {
    padding-top: calc(22px + 8 * (100vw - 320px) / 880);
    padding-bottom: calc(22px + 8 * (100vw - 320px) / 880);
    padding-left: calc(18px + 14 * (100vw - 320px) / 880);
    padding-right: calc(18px + 14 * (100vw - 320px) / 880);
  }
}
.catalog .prod-bill .prod-price::after {
  display: none;
}
.catalog .prod-bill .card-box {
  -webkit-box-shadow: 5px 4px 75px #101F36;
          box-shadow: 5px 4px 75px #101F36;
}
.catalog .prod-bill__title {
  font-family: Filson Pro Book;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  background: linear-gradient(90.05deg, #F17981 0.03%, #CA4BA8 44.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 14px;
}

.catalog-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.catalog-select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-family: "Filson Pro Book";
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(90.05deg, #F17981 0.03%, #CA4BA8 44.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 16px;
}
.catalog-select__title-icon {
  pointer-events: none;
  max-width: 16px;
  max-height: 16px;
}
.catalog-select__title-icon img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform ease-in-out 0.3s;
  transition: -webkit-transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}
.catalog-select__body {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.04);
  -webkit-box-shadow: 5px 4px 75px #101F36;
          box-shadow: 5px 4px 75px #101F36;
  border-radius: 20px;
  padding: 38px 44px;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .catalog-select__body {
    padding-left: calc(18px + 26 * (100vw - 320px) / 880);
    padding-right: calc(18px + 26 * (100vw - 320px) / 880);
    padding-top: calc(16px + 22 * (100vw - 320px) / 880);
    padding-right: calc(16px + 22 * (100vw - 320px) / 880);
  }
}

.catalog-select._opened .catalog-select__body {
  pointer-events: all;
  opacity: 1;
  position: static;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.catalog-select._opened .catalog-select__title-icon img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.head-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 44px;
}
@media (max-width: 1200px) {
  .head-preview {
    gap: calc(18px + 26 * (100vw - 320px) / 880);
  }
}
.head-preview__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 200%;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  .head-preview__title {
    font-size: calc(22px + 3 * (100vw - 320px) / 880);
  }
}
.head-preview__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 480px) {
  .head-preview__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.head-preview__preview {
  overflow: hidden;
  width: 40%;
  min-height: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 12px;
  height: 100%;
}
@media (max-width: 480px) {
  .head-preview__preview {
    width: 100%;
    min-height: 0;
    height: 200px;
  }
}
.head-preview__preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.head-preview__content {
  font-weight: 400;
  font-size: 17px;
  line-height: 176%;
  color: #FFFFFF;
}

.rm-purchase {
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 3px;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in-out 0.3s;
  transition: -webkit-transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}
.rm-purchase img {
  width: 100%;
  pointer-events: none;
}
.rm-purchase:hover {
  -webkit-animation: shake linear 0.4s;
          animation: shake linear 0.4s;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  60% {
    -webkit-transform: rotate(-14deg);
            transform: rotate(-14deg);
  }
  99% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  60% {
    -webkit-transform: rotate(-14deg);
            transform: rotate(-14deg);
  }
  99% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  width: 100%;
  z-index: 2;
}
@media (max-width: 1200px) {
  .form {
    gap: calc(16px + 14 * (100vw - 320px) / 880);
  }
}
@media (max-width: 480px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.form__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}
@media (max-width: 1200px) {
  .form__column {
    gap: calc(16px + 20 * (100vw - 320px) / 880);
  }
}
.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  z-index: 3;
}
@media (max-width: 1200px) {
  .form__block {
    gap: calc(8px + 6 * (100vw - 320px) / 880);
  }
}
@media (max-width: 480px) {
  .form__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 294%;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  .form__label {
    font-size: calc(15px + 2 * (100vw - 320px) / 880);
  }
}
.form__select {
  position: relative;
  max-width: 230px;
  width: 100%;
}
@media (max-width: 480px) {
  .form__select {
    max-width: none;
  }
}
.form__input {
  max-width: 230px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 0 15px;
  border-radius: 40px;
  border: 1px solid #ccc;
  background-color: transparent;
  font-weight: 400;
  font-size: 13px;
  line-height: 230%;
  color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 480px) {
  .form__input {
    max-width: 100%;
    text-align: center;
  }
}

.box-active {
  z-index: 10;
}

.select {
  z-index: 10;
}
.select__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  min-height: 40px;
  padding: 0 15px;
  border-radius: 40px;
  border: 1px solid #ccc;
  background-color: transparent;
  z-index: 2;
}
@media (max-width: 480px) {
  .select__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.select__current {
  font-weight: 400;
  font-size: 13px;
  line-height: 230%;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.4);
}
.select__body {
  position: absolute;
  left: 0;
  top: calc(100% + 1px);
  width: 100%;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 6px 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  overflow: hidden;
  -webkit-transition: opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}
.select__el {
  padding: 8px 12px;
  font-weight: 400;
  font-size: 13px;
  line-height: 230%;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  -webkit-transition: background-color ease-in-out 0.3s;
  transition: background-color ease-in-out 0.3s;
}
@media (max-width: 480px) {
  .select__el {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.select__el:hover {
  background-color: rgba(204, 204, 204, 0.1);
}
.select__icon {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform ease-in-out 0.3s;
  transition: -webkit-transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}

.select.is-active {
  z-index: 100;
}
.select.is-active .select__icon {
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}
.select.is-active .select__body {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 120;
}

.select__el._hide {
  display: none;
}

.mixed {
  gap: 40px;
}

.checkbox-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 18px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
@media (max-width: 1200px) {
  .checkbox-list {
    -webkit-column-gap: calc(15px + 45 * (100vw - 320px) / 880);
       -moz-column-gap: calc(15px + 45 * (100vw - 320px) / 880);
            column-gap: calc(15px + 45 * (100vw - 320px) / 880);
  }
}
@media (max-width: 480px) {
  .checkbox-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.checkbox-card {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 17px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: border ease-in-out 0.3s, opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  transition: border ease-in-out 0.3s, opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  transition: border ease-in-out 0.3s, transform ease-in-out 0.3s, opacity ease-in-out 0.3s;
  transition: border ease-in-out 0.3s, transform ease-in-out 0.3s, opacity ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  -webkit-transition-delay: display 0.3s;
          transition-delay: display 0.3s;
}
.checkbox-card__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkbox-card__checkbox {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  position: relative;
}
.checkbox-card__checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#F17981), to(#CA4BA8));
  background: linear-gradient(90deg, #F17981 0%, #CA4BA8 100%);
  -webkit-transition: opacity ease-in-out 0.3s, border ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, border ease-in-out 0.3s;
  opacity: 0;
}
.checkbox-card__checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8.5px;
  height: 8.5px;
  background: url("../img/icons/bird.svg") no-repeat 100%;
  background-position: center;
  background-size: contain;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
  opacity: 0;
}
.checkbox-card__title {
  font-weight: 700;
  font-size: 13px;
  background: linear-gradient(90.06deg, #F17981 0.06%, #CA4BA8 69.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.checkbox-card__price {
  margin-left: 6px;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  white-space: nowrap;
}
.checkbox-card__paragraph {
  font-weight: 400;
  font-size: 10px;
  line-height: 200%;
}

.checkbox-card._checked {
  border: 1px solid #F17981;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0;
}
.checkbox-card._checked .checkbox-card__checkbox {
  border: 1px solid transparent;
}
.checkbox-card._checked .checkbox-card__checkbox::before, .checkbox-card._checked .checkbox-card__checkbox::after {
  opacity: 1;
}
.checkbox-card._checked .checkbox-card__title {
  color: #fff;
  background: transparent;
  -webkit-text-fill-color: #fff;
}

.promotion {
  padding: 30px 32px;
  padding-bottom: 0;
  position: relative;
}
@media (max-width: 1200px) {
  .promotion {
    padding-top: calc(22px + 8 * (100vw - 320px) / 880);
    padding-bottom: 0;
    padding-left: calc(18px + 14 * (100vw - 320px) / 880);
    padding-right: calc(18px + 14 * (100vw - 320px) / 880);
  }
}
.promotion::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#CA4BA8), color-stop(101.96%, #F17981));
  background: linear-gradient(90deg, #CA4BA8 0%, #F17981 101.96%);
  z-index: -1;
}
.promotion__wrapper {
  height: 40px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
  gap: 18px;
}
.promotion__input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
}
.promotion__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.promotion__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.promotion__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.promotion__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.promotion__input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.promotion__status {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #FFFFFF;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 44px;
}
@media (max-width: 1200px) {
  .info {
    margin-top: calc(20px + 6 * (100vw - 320px) / 880);
  }
}
.info__title {
  font-weight: 700;
  font-size: 13px;
  line-height: 154%;
  background: linear-gradient(90.06deg, #F17981 0.06%, #CA4BA8 69.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.info__card {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 26px;
}
@media (max-width: 1200px) {
  .info__card {
    padding-left: calc(12px + 14 * (100vw - 320px) / 880);
    padding-right: calc(12px + 14 * (100vw - 320px) / 880);
  }
}
.info__paragraph {
  font-weight: 400;
  font-size: 10px;
  line-height: 200%;
  color: rgba(255, 255, 255, 0.7);
}

#date {
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.4);
}
#date::-webkit-calendar-picker-indicator {
  background: url("../img/icons/calendar.svg") no-repeat 100%;
  background-size: contain;
  background-position: center;
}

.checkbox-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}
.checkbox-agree__custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.checkbox-agree__custom-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  -webkit-transition: border ease-in-out 0.3s;
  transition: border ease-in-out 0.3s;
}
.checkbox-agree__custom-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#F17981), to(#CA4BA8));
  background: linear-gradient(90deg, #F17981 0%, #CA4BA8 100%);
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
}
.checkbox-agree__custom-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8.5px;
  height: 8.5px;
  background: url("../img/icons/bird.svg") no-repeat 100%;
  background-position: center;
  background-size: contain;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
  opacity: 0;
}
.checkbox-agree__input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cbx:checked ~ label {
  border: 1px solid transparent;
}
#cbx:checked ~ label::before {
  opacity: 1;
}
#cbx:checked ~ label::after {
  opacity: 1;
}

.invalid {
  border: 1px solid rgb(198, 17, 17);
  -webkit-box-shadow: 5px 4px 75px rgba(163, 60, 55, 0.5);
          box-shadow: 5px 4px 75px rgba(163, 60, 55, 0.5);
}

.form__block_other {
  display: none;
}

.form__block_loc {
  display: none;
}
.form__block_loc .select {
  min-width: 300px;
}
@media (max-width: 480px) {
  .form__block_loc .select {
    min-width: 0;
  }
}

.prod-list__info {
  width: 20px;
  margin-top: 5px;
  margin-bottom: auto;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 70px;
}