@import './null';
@import './fonts';
@import './var';
@import './ui';


.header {
    z-index: 9999;
    transition: background-color ease-in-out .15s;
    &__container {
        padding-top: 30px;
        @media (max-width: 991.98px) {
            padding-top: calc(12px + (30 - 12) * ((100vw - 320px) / (991.98 - 320)));
            padding-bottom: calc(12px + (30 - 12) * ((100vw - 320px) / (991.98 - 320)));
        }

        display: flex;
        justify-content: space-between;
        @media (max-width: 480px) {
            flex-direction: column;
            gap: 10px;
        }

        .prod-price {
            &::after {
                display: none;
            }
            @media (min-width: 991.98px) {
                display: none;
            }
        }
    }

    @media (max-width: 991.98px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    @media (max-width: 767.98px) {
        margin-bottom: calc(20px + (0 - 20) * ((100vw - 320px) / (767.98 - 320)));
    }

}
.header.active {
    @media (max-width: 991.98px) {
        background-color: rgba(16, 31, 54); 
    }
}

.main {
    position: relative;
    &::before { 
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #101F36;
        z-index: -1;
    }

    &__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
        }
    }
}


.main {
    // .main__modal
    &__modal {
        margin: 80px 0;
        @media (max-width: 1200px) {
            margin-top: calc(20px + (80 - 20) * ((100vw - 320px) / (1200 - 320)));
            margin-bottom: calc(20px + (80 - 20) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}
.modal {
    // .modal__container
    &__container {
        display: flex;
        justify-content: center;
    }
    // .modal__box
    &__box {
        max-width: 700px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 36px 28px;
        @media (max-width: 1200px) {
            padding-top: calc(24px + (36 - 24) * ((100vw - 320px) / (1200 - 320)));
            padding-bottom: calc(24px + (36 - 24) * ((100vw - 320px) / (1200 - 320)));
            padding-left: calc(16px + (28 - 16) * ((100vw - 320px) / (1200 - 320)));
            padding-right: calc(16px + (28 - 16) * ((100vw - 320px) / (1200 - 320)));
        }
        background-color: rgba(255, 255, 255, 0.04);
        box-shadow: 5px 4px 75px #101F36;
        border-radius: 20px;
    }
    // .modal__title
    &__title {
        font-weight: 700;
        font-size: 36px;
        @media (max-width: 1200px) {
            font-size: calc(26px + (36 - 26) * ((100vw - 320px) / (1200 - 320)));
        }
        line-height: 140%;

        text-align: center;

        color: #FFFFFF;

        .gradient {
            background: linear-gradient(90.05deg, #F17981 0.03%, #CA4BA8 44.61%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
    // .modal__paragraph
    &__paragraph {
        margin: 20px 0;
        font-weight: 400;
        font-size: 23px;
        @media (max-width: 1200px) {
            font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (1200 - 320)));
        }
        line-height: 28px;
        text-align: center;

        color: #FFFFFF;
    }
    // .modal__buttons
    &__buttons {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
        @media (max-width: 1200px) {
            gap: calc(12px + (32 - 12) * ((100vw - 320px) / (1200 - 320)));
        }
    }
    // .modal__button
    &__button {
        height: 50px;
        padding: 0 36px;
        display: flex;

        align-items: center;
        border: 1px solid #FFFFFF;
        border-radius: 52.5px;
        background-color: transparent;

        font-weight: 700;
        font-size: 17px;

        text-transform: uppercase;
        color: #FFFFFF;
        overflow: hidden;

        position: relative;
        transition: border ease-in-out $animSpeed;

        z-index: 5;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, #F17981 0%, #CA4BA8 100.14%);
            opacity: 0;

            transition: opacity ease-in-out $animSpeed;
            z-index: -1;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
            border: 1px solid transparent;
        }
    }
}

.main {
    // .main__thanks
    &__thanks {
        margin: 80px 0;
        @media (max-width: 1200px) {
            margin-top: calc(20px + (80 - 20) * ((100vw - 320px) / (1200 - 320)));
            margin-bottom: calc(20px + (80 - 20) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}
.thanks {
    // .thanks__container
    &__container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        @media (max-width: 1200px) {
            gap: calc(40px + (100 - 40) * ((100vw - 320px) / (1200 - 320)));
        }
    }
    // .thanks__article
    &__article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    // .thanks__body
    &__body {
        display: flex;
        @media (min-width: 767.98px) {
            align-items: flex-start;
        }
        gap: 60px;
        @media (max-width: 1200px) {
            gap: calc(30px + (60 - 30) * ((100vw - 320px) / (1200 - 320)));
        }
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        @media (max-width: 767.98px) {
            flex-direction: column;
        }
    }
    // .thanks__area
    &__area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }
    // .thanks__title
    &__title {
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;

        background: linear-gradient(90.05deg, #F17981 0.03%, #CA4BA8 44.61%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
.article {
    // .article__title
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 34px;
        @media (max-width: 1200px) {
            font-size: calc(26px + (34 - 26) * ((100vw - 320px) / (1200 - 320)));
        }
        line-height: 147%;

        background: linear-gradient(90.05deg, #F17981 0.03%, #CA4BA8 44.61%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    // .article__paragraph
    &__paragraph {
        font-weight: 400;
        font-size: 23px;
        @media (max-width: 1200px) {
            font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (1200 - 320)));
        }
        line-height: 130%;
        text-align: center;

        color: #FFFFFF;
    }
}
.card-box {
    background: rgba(255, 255, 255, 0.04);
    width: 100%;

    box-shadow: 5px 4px 75px #101F36;
    border-radius: 20px;

    z-index: 40;

    // .card-box__part
    &__part {
        padding: 30px 32px;
        @media (max-width: 1200px) {
            padding-top: calc(22px + (30 - 22) * ((100vw - 320px) / (1200 - 320)));
            padding-bottom: calc(22px + (30 - 22) * ((100vw - 320px) / (1200 - 320)));
            padding-left: calc(18px + (32 - 18) * ((100vw - 320px) / (1200 - 320)));
            padding-right: calc(18px + (32 - 18) * ((100vw - 320px) / (1200 - 320)));
        }
    }
    // .card-box__wrapper
    &__wrapper {
        padding: 30px 32px;
        @media (max-width: 1200px) {
            padding-top: calc(22px + (30 - 22) * ((100vw - 320px) / (1200 - 320)));
            padding-bottom: calc(22px + (30 - 22) * ((100vw - 320px) / (1200 - 320)));
            padding-left: calc(18px + (32 - 18) * ((100vw - 320px) / (1200 - 320)));
            padding-right: calc(18px + (32 - 18) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}
.prod-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 26px;
    //overflow: hidden;
    z-index: 999;

    &__label {
        margin-right: auto;
    }

    // .prod-list__row
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        z-index: 100;

        font-weight: 400;
        font-size: 17px;
        @media (max-width: 1200px) {
            font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1200 - 320)));
        }
        line-height: 176%;
        position: relative;
    }
    // .prod-list__price
    &__price {
        white-space: nowrap;
        margin-left: 50px;
    }

    &__popup {
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        padding: 32px 26px;
        @media (max-width: 1200px) {
            padding-left: calc(14px + (26 - 14) * ((100vw - 320px) / (1200 - 320)));
            padding-right: calc(14px + (26 - 14) * ((100vw - 320px) / (1200 - 320)));
            padding-top: calc(26px + (32 - 26) * ((100vw - 320px) / (1200 - 320)));
            padding-bottom: calc(26px + (32 - 26) * ((100vw - 320px) / (1200 - 320)));
        }
        border-radius: 20px;

        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        width: 100%;

        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);

        transition: opacity ease-in-out $animSpeed, transform ease-in-out $animSpeed;
    }
}
.prod-list__popup._open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}
.prod-list__row.parent-active {
    z-index: 400;
}
.animate-row {
    animation: show ease $animSpeed;
}
.hide-row {
    animation: hide linear $animSpeed;
}
@keyframes show {
    from {
        transform: translateX(-50%);
    } to {
        transform: translateX(0);
    }
}
@keyframes hide {
    from {
        transform: translateX(0px);
    } to {
        transform: translateX(-50%);
    }
}

.prod-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #CA4BA8 0%, #F17981 101.96%);
    }

    // .prod-price__title
    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;

        background: linear-gradient(90deg, #F17981 0%, #CA4BA8 40.24%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    // .prod-price__price
    &__price {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;

        text-align: right;
    }
}
.contact {
    flex: 0 0 50%;
    @media (min-width: 767.98px) {
        position: sticky;
        top: 20px;  
    }

    // .contact__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    // .contact__row
    &__row {
        font-weight: 400;
        font-size: 17px;
        @media (max-width: 1200px) {
            font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1200 - 320)));
        }
        line-height: 176%;
    }
    // .contact__title
    &__title {
        font-family: Filson Pro Book;

        color: rgba(255, 255, 255, 0.5);
    }
}
.prod-bill {
    flex: 0 0 calc(50% - ((20px + (60 - 20) * ((100vw - 320px) / (1200 - 320)))));
    @media (min-width: 767.98px) {
        position: sticky;
        top: 20px;  
    }

    &__button {
        height: 44px;
        border-radius: 40px;
        overflow: hidden;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 380px;
        width: 100%;
        margin: 0 auto;
        background-color: transparent;
        margin-top: 38px;

        font-weight: 700;
        font-size: 17px;
        @media (max-width: 1200px) {
            font-size: calc(15px + (17 - 15 ) * ((100vw - 320px) / (1200 - 320)));
        }
        line-height: 176%;


        color: #FFFFFF;

        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: -425%;
            left: 0;
            width: 100%;
            height: 900%;
            background: linear-gradient(90deg, #F17981 0%, #CA4BA8 100%);
            z-index: -1;
            transition: transform ease-in-out $animSpeed;
        }

        &:hover {
            &::before {
                transform: rotate(180deg);
            }
        }
    }
}


.return {
    margin: 30px 0;
    @media (max-width: 1200px) {
        margin-top: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    // .return__icon
    &__icon {
        max-width: 16px;
        max-height: 16px;
    }
    // .return__text
    &__text {
        font-family: 'Filson Pro Book';
        font-size: 20px;
        @media (max-width: 1200px) {
            font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1200 - 320)));
        }
        text-transform: uppercase;

        color: #FFFFFF;
    }
}

.main {
    // .main__catalog
    &__catalog {
        margin: 30px 0;
        @media (max-width: 1200px) {
            margin-top: calc(0px + (30 - 0) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}
.catalog {
    // .catalog__contaienr
    &__container {
        display: flex;
        gap: 88px;
        @media (max-width: 1200px) {
            gap: calc(20px + (88 - 20) * ((100vw - 991.98px) / (1200 - 991.98)));
        }
        @media (max-width: 991.98px) {
            flex-direction: column;
            gap: 20px;
        }
    }
    // .catalog__body
    &__body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        gap: 50px;
    }
    // .catalog__aside
    &__aside {
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 415px;
        width: 100%;
        @media (max-width: 991.98px) {
            max-width: 100%;
        }
    }

    .prod-bill {
        @media (min-width: 991.98px) {
            position: sticky;
            top: 20px;
        }
        .prod-list, .prod-price {
            padding: 30px 32px;
            @media (max-width: 1200px) {
                padding-top: calc(22px + (30 - 22) * ((100vw - 320px) / (1200 - 320)));
                padding-bottom: calc(22px + (30 - 22) * ((100vw - 320px) / (1200 - 320)));
                padding-left: calc(18px + (32 - 18) * ((100vw - 320px) / (1200 - 320)));
                padding-right: calc(18px + (32 - 18) * ((100vw - 320px) / (1200 - 320)));
            }
        }
        .prod-price {
            &::after {
                display: none;
            }
        }
        .card-box {
            box-shadow: 5px 4px 75px #101F36;
        }

        // .prod-bill__title
        &__title {
            font-family: Filson Pro Book;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;

            background: linear-gradient(90.05deg, #F17981 0.03%, #CA4BA8 44.61%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;

            margin-bottom: 14px;
        }
    }
}

.catalog-select {
    display: flex;
    flex-direction: column;
    //gap: 16px;
    position: relative;

    // .catalog-select__title
    &__title {
        display: flex;
        align-items: center;
        gap: 16px;
        font-family: 'Filson Pro Book';
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        cursor: pointer;

        background: linear-gradient(90.05deg, #F17981 0.03%, #CA4BA8 44.61%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        margin-bottom: 16px;
    }
    // .catalog-select__title-icon
    &__title-icon {
        pointer-events: none;
        max-width: 16px;
        max-height: 16px;
        img {
            transform: rotate(90deg);
            transition: transform ease-in-out $animSpeed;
        }
    }
    // .catalog-select__body
    &__body {
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity ease-in-out $animSpeed, transform ease-in-out $animSpeed;
        background: rgba(255, 255, 255, 0.04);
        box-shadow: 5px 4px 75px #101F36;
        border-radius: 20px;
        padding: 38px 44px;
        pointer-events: none;
        @media (max-width: 1200px) {
            padding-left: calc(18px + (44 - 18) * ((100vw - 320px) / (1200 - 320)));
            padding-right: calc(18px + (44 - 18) * ((100vw - 320px) / (1200 - 320)));
            padding-top: calc(16px + (38 - 16) * ((100vw - 320px) / (1200 - 320)));
            padding-right: calc(16px + (38 - 16) * ((100vw - 320px) / (1200 - 320)));
        }

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.catalog-select._opened {
    .catalog-select__body {
        pointer-events: all;
        opacity: 1;
        position: static;
        transform: translateY(0);
    }
    .catalog-select__title-icon {
        img {
            transform: rotate(-90deg);
        }
    }
}
.head-preview {
    display: flex;
    flex-direction: column;
    gap: 44px;
    @media (max-width: 1200px) {
        gap: calc(18px + (44 - 18) * ((100vw - 320px) / (1200 - 320)));
    }
    // .head-preview__title
    &__title {
        font-weight: 700;
        font-size: 25px;
        @media (max-width: 1200px) {
            font-size: calc(22px + (25 - 22) * ((100vw - 320px) / (1200 - 320)));
        }
        line-height: 200%;

        text-align: center;

        color: #FFFFFF;

    }
    // .head-preview__bottom
    &__bottom {
        display: flex;
        gap: 30px;
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }
    // .head-preview__preview
    &__preview {
        overflow: hidden;
        width: 40%;
        @media (max-width: 480px) {
            width: 100%;
            min-height: 0;
            height: 200px;
        }
        
        min-height: 200px;
        flex-shrink: 0;
        border-radius: 12px;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    // .head-preview__content
    &__content {
        font-weight: 400;
        font-size: 17px;
        line-height: 176%;

        color: #FFFFFF;
    }
}
.rm-purchase {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 3px;
    cursor: pointer;
    transition: transform ease-in-out $animSpeed;
    img {
        width: 100%;
        pointer-events: none;
    }
    &:hover {
        animation: shake linear .4s;
    }
}
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(14deg);
    }
    60% {
        transform: rotate(-14deg);
    }
    99% {
        transform: rotate(0deg);
    }
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    @media (max-width: 1200px) {
        gap: calc(16px + (30 - 16) * ((100vw - 320px) / (1200 - 320)));
    }
    z-index: 2;
    @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
    }

    // .form__column
    &__column {
        display: flex;
        flex-direction: column;
        gap: 36px;
        @media (max-width: 1200px) {
            gap: calc(16px + (36 - 16) * ((100vw - 320px) / (1200 - 320)));
        }
        flex: 1 1 auto;
        width: 100%;
    }
    // .form__block
    &__block {
        display: flex;
        flex-direction: column;
        gap: 14px;
        @media (max-width: 1200px) {
            gap: calc(8px + (14 - 8) * ((100vw - 320px) / (1200 - 320)));
        }
        @media (max-width: 480px) {
            align-items: center;
        }
        z-index: 3;
    }
    // .form__label
    &__label {
        font-weight: 700;
        font-size: 17px;
        @media (max-width: 1200px) {
            font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1200 - 320)));
        }
        line-height: 294%;

        color: #FFFFFF;

    }
    // .form__select
    &__select {
        position: relative;
        max-width: 230px;
        width: 100%;
        @media (max-width: 480px) {
            max-width: none;

        }
    }
    // .form__input
    &__input {
        max-width: 230px;
        width: 100%;
        @media (max-width: 480px) {
            max-width: 100%;
            text-align: center;
        }
        display: flex;
        height: 40px;
        padding: 0 15px;
        border-radius: 40px;
        border: 1px solid #ccc;
        background-color: transparent;
        font-weight: 400;
        font-size: 13px;
        line-height: 230%;

        color: rgba(255, 255, 255, 0.4);
    }
}
.box-active {
    z-index: 10;
}
.select {
    z-index: 10;
    // .select__head
    &__header {
        display: flex;
        align-items: center;
        @media (max-width: 480px) {
            justify-content: center;
        }
        
        position: relative;
        cursor: pointer;

        min-height: 40px;
        padding: 0 15px;
        border-radius: 40px;
        border: 1px solid #ccc;
        background-color: transparent;
        z-index: 2;
    }
    // .select__current
    &__current {
        font-weight: 400;
        font-size: 13px;
        line-height: 230%;
        pointer-events: none;

        color: rgba(255, 255, 255, 0.4);
    }
    // .select__body
    &__body {
        position: absolute;
        left: 0;
        top: calc(100% + 1px);
        width: 100%;
        border-radius: 20px;
        border: 1px solid #ccc;
        padding: 6px 0;

        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(20px);
        overflow: hidden;

        transition: opacity ease-in-out $animSpeed, transform ease-in-out $animSpeed;
    }
    // .select__el
    &__el {
        padding: 8px 12px;
        font-weight: 400;
        font-size: 13px;
        line-height: 230%;

        color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
        @media (max-width: 480px) {
            display: flex;
            justify-content: center;
        }

        transition: background-color ease-in-out $animSpeed;

        &:hover {
            background-color: rgba(204, 204, 204, 0.1);
        }
    }
    &__icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        transition: transform ease-in-out $animSpeed;
    }
}
.select.is-active {
    z-index: 100;
    .select__icon {
        transform: rotate(180deg) translateY(50%);
    }
    .select__body {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
        z-index: 120;    
    }
}
.select__el._hide {
    display: none;
}
.mixed {
    gap: 40px;
}

.checkbox-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    column-gap: 60px;
    @media (max-width: 1200px) {
        column-gap: calc(15px + (60 - 15) * ((100vw - 320px) / (1200 - 320)));
    }
    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
    }
}
.checkbox-card {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 17px 19px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    cursor: pointer;

    border: 1px solid transparent;
    transition: border ease-in-out $animSpeed, transform ease-in-out $animSpeed, opacity ease-in-out $animSpeed;
    transition-delay: display $animSpeed;

    // .checkbox-card__head
    &__head {
        display: flex;
        align-items: center;
    }
    // .checkbox-card__checkbox
    &__checkbox {
        width: 16px;
        height: 16px;
        border-radius: 5px;
        margin-right: 10px;
        border: 1px solid #fff;
        flex-shrink: 0;
        overflow: hidden;

        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #F17981 0%, #CA4BA8 100%);
            transition: opacity ease-in-out $animSpeed, border ease-in-out $animSpeed;
            opacity: 0;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 8.5px;
            height: 8.5px;
            background: url("../img/icons/bird.svg") no-repeat 100%;
            background-position: center;
            background-size: contain;
            transition: opacity ease-in-out $animSpeed;
            opacity: 0;
        }

    }
    // .checkbox-card__title
    &__title {
        font-weight: 700;
        font-size: 13px;
        //line-height: 50px;
        background: linear-gradient(90.06deg, #F17981 0.06%, #CA4BA8 69.95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    // .checkbox-card__price
    &__price {
        margin-left: 6px;
        font-weight: 700;
        font-size: 13px;
        //line-height: 50px;
        color: #fff;
        white-space: nowrap;
    }
    // .checkbox-card__paragraph
    &__paragraph {
        font-weight: 400;
        font-size: 10px;
        line-height: 200%;
    }
}
.checkbox-card._checked {
    border: 1px solid #F17981;
    transform: translateX(50%);
    opacity: 0;

    .checkbox-card__checkbox {
        border: 1px solid transparent;

        &::before, &::after {
            opacity: 1;
        }
    }  
    .checkbox-card__title {
        color: #fff;
        background: transparent;
        -webkit-text-fill-color: #fff;
    } 
}

.promotion {
    padding: 30px 32px;
    padding-bottom: 0;
    @media (max-width: 1200px) {
        padding-top: calc(22px + (30 - 22) * ((100vw - 320px) / (1200 - 320)));
        padding-bottom: 0;
        padding-left: calc(18px + (32 - 18) * ((100vw - 320px) / (1200 - 320)));
        padding-right: calc(18px + (32 - 18) * ((100vw - 320px) / (1200 - 320)));
    }
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #CA4BA8 0%, #F17981 101.96%);
        z-index: -1;
    }

    &__wrapper {
        height: 40px;
        background: rgba(255, 255, 255, 0.04);
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 0 18px;
        gap: 18px;
    }

    // .promotion__input
    &__input {
        height: 100%;
        width: 100%;
        background-color: transparent;
        font-weight: 400;
        font-size: 13px;
        color: #fff;
        &::placeholder {
            color: rgba(255, 255, 255, 0.4);
        }
    }
    // .promotion__status
    &__status {
        font-weight: 400;
        font-size: 13px;
        line-height: 30px;

        color: #FFFFFF;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 44px;
    @media (max-width: 1200px) {
        margin-top: calc(20px + (26 - 20) * ((100vw - 320px) / (1200 - 320)));
    }

    // .info__title
    &__title {
        font-weight: 700;
        font-size: 13px;
        line-height: 154%;


        background: linear-gradient(90.06deg, #F17981 0.06%, #CA4BA8 69.95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    // .info__card
    &__card {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.05);
        padding: 12px 26px;
        @media (max-width: 1200px) {
            padding-left: calc(12px + (26 - 12) * ((100vw - 320px) / (1200 - 320)));
            padding-right: calc(12px + (26 - 12) * ((100vw - 320px) / (1200 - 320)));
        }
    }
    // .info__paragraph
    &__paragraph {
        font-weight: 400;
        font-size: 10px;
        line-height: 200%;

        color: rgba(255, 255, 255, 0.7);
    }
}
#date {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.4);
    &::-webkit-calendar-picker-indicator {
        background: url("../img/icons/calendar.svg") no-repeat 100%;
        background-size: contain;
        background-position: center;
    }
}
.checkbox-agree {
    display: flex;
    flex-direction: row-reverse;
    gap: 18px;
    align-items: center;
    margin-right: auto;

    // .checkbox-agree__custom
    &__custom {
        display: flex;
        justify-content: flex-start;
    }
    // .checkbox-agree__custom-label
    &__custom-label {
        display: flex;
        width: 20px;
        height: 20px;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        transition: border ease-in-out $animSpeed;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #F17981 0%, #CA4BA8 100%);
            opacity: 0;
            transition: opacity ease-in-out $animSpeed;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 8.5px;
            height: 8.5px;
            background: url("../img/icons/bird.svg") no-repeat 100%;
            background-position: center;
            background-size: contain;
            transition: opacity ease-in-out $animSpeed;
            opacity: 0;
        }
    }
    // .checkbox-agree__input
    &__input {
        position: absolute;
        pointer-events: none;
        opacity: 0;
        display: flex;
    }
}
#cbx:checked ~ label {
    &::before {
        opacity: 1;
    }
    &::after {
        opacity: 1;
    }
    border: 1px solid transparent;
}

.invalid {
    border: 1px solid rgb(198, 17, 17);
    box-shadow: 5px 4px 75px rgb(163, 60, 55, 0.5);
}

.form__block_other {
    display: none;
}
.form__block_loc {
    display: none;
    .select {
        min-width: 300px;
        @media (max-width: 480px) {
            min-width: 0;
        }
    }
}
.prod-list__info {
    width: 20px;
    margin-top: 5px;
    margin-bottom: auto;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 70px;
}

.main__catalog {
    @media (max-width: 991.98px) {
        margin-top: 80px; 
    }
    @media (max-width: 480px) {
        margin-top: 100px;
    }
}